interplanetary_invaders/__pycache__/
interplanetary_invaders/scripts/__pycache__/
Dev/
lib/
dist/
bin/
data/
build/
include/
interplanetary_invaders/data/
interplanetary_invaders/images/3d/
interplanetary_invaders/images/Gimp/
interplanetary_invaders/images/Other/
interplanetary_invaders/images/SVG/
Interplanetary_Invaders.egg-info/
IDEAS.md
PACKAGE_AND_UPLOAD.sh
hacks/
temp/
Interplanetary_Invaders.egg-info/
